body{
	font-family: "LATO", "ROBOTO MONO", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a{
	display: inline-block;
	text-decoration: none;
	color: #000000; /* 由於會被主業的css覆蓋先處理，調整後移除 */
}

code{
  font-family: "ROBOTO MONO", monospace;
  color: $success;
}

img{
  max-width: 100%;
  margin: 0 auto;
	vertical-align: middle;
}
