// .header{
//   &-container{
//     display: flex;
//     flex-direction: column;
//     justify-content: start;

//     font-size: 16px;
//     font-weight: bold;

//     .title-bar{
//       height: 93px;
//       padding-top: 32px;
//       padding-left: 32px;
//     }
//     .nav{
//       margin-top: 12px;

//       display: flex;
//       flex-direction: column;
//       gap: 25px;

//       &-item{
//         display: flex;
//         border-left: 4px solid #ffffff;
//       }

//       &-item:hover, .active{
//         border-left: 4px solid #198754;
//         color: #198754;
//       }

//     }
//     .material-symbols-outlined {
//       margin-left: 32px;
//       margin-right: 16px;

//       font-variation-settings:
//       'FILL' 0,
//       'wght' 400,
//       'GRAD' 0,
//       'opsz' 20
//     }

//   }
// }

.navbar{
  width: 296px;

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  .icon-unfill {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  
  .link-hover:hover{ // bootstrap的通用樣式都內建 !important，所以跟著使用蓋掉
    color: #198754 !important;
    border-left: 3px solid #198754 !important;
  }

}