//筆記區
//問題原因：當 <main> 資料過多出現scrollbar往下滑，然後<aside>側邊欄超出vh-100的高度，
//導致 <aside> 的 vh-100以下會留白不好看，所以要固定<aside>邊欄不因畫面捲動而留白。

//解決辦法： 
// 1.先在 <aside> 絕對定位 在top position-fixed top-0，但是fixed之後會不包在網頁的排板內(會被當做不存在)，<main> 的排版會向稱滿畫面蓋掉 <aside>。
// 2.設定 .content class: width: calc(100% - 296px); + margin-left: auto;，效果就會變成保留 <aside> 顯示空間，左邊的空間(296px)變為最大值，導致右邊的空間被壓縮，因此置右並在剩餘的width內置中。
// 3.由於之前在 <main>設定w-100撐開版面，但是在bottstrap預設的通用樣式會設定 !important，會導致後面設定的 .content蓋不掉w-100的設定，所以要把w-100移除掉。
.content{
  width: calc(100% - 296px); //用100%減去aside側邊欄，然其自適應畫面大小並保留aside顯示空間
  margin-left: auto;//・margin內的auto可以將其值設定為最大值。如若左右皆為auto，則左右的空間將會變成最大值，且平均分配，因此變成置中。
  //・如果只有左邊設定為auto，則左邊的空間變為最大值，導致右邊的空間被壓縮，因此置右，此為「margin-left: auto」置右的原理。





}



.material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 22
}
// .icon-unfill {
//   font-variation-settings:
//   'FILL' 0,
//   'wght' 400,
//   'GRAD' 0,
//   'opsz' 24
// }


.h1{
  font-size: 24px;
  font-weight: bold;
}





.link-success { // bootstrap的通用樣式都內建 !important，所以跟著使用蓋掉 
  background-color: #fff !important;
  color: #198754 !important;
}

.link-success:hover, .link-success.active { // bootstrap的通用樣式都內建 !important，所以跟著使用蓋掉 
  background-color: #198754 !important;
  color: #fff !important;
}